<!DOCTYPE html>
<title>FoodView</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
    <div class="main">
        <h1>
            <%= date %>
        </h1>

        <iframe src="/request/<%= url %>?mode=webview" title="FOODVIEW" width="100%" height="200px"></iframe>

        <button onclick="window.location.href = './request/<%= url %>'">
            상세 조회하기
        </button>
    </div>

</body>

<style>
    iframe {
        border : none;
    }
    * {
        word-break:keep-all;
    }
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f7f7f7;
    }

    .main {
        max-width: 600px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    button {
        width: auto;
    }
</style>